<mat-card>
  <mat-card-title>{{ "LOGIN.login" | translate}}</mat-card-title>
  <mat-card-content>
    <form #loginForm='ngForm' (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field>
          <input type="text"
                 matInput
                 required
                 placeholder="{{ 'LOGIN.email' | translate }}"
                 name="email" [(ngModel)]="form.email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password"
                 matInput
                 required
                 placeholder="{{ 'LOGIN.password' | translate }}"
                 i18n-placeholder="@@password"
                 name="password" [(ngModel)]="form.password">
        </mat-form-field>
      </p>


      <div class="button">
        <button type="submit" mat-raised-button i18n="@@login" color="basic" [disabled]="!loginForm.valid">{{ "LOGIN.login" | translate}}</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>

  <mat-card>
    <p>{{ "LOGIN.asEmail" | translate}} <span style="color: red">test@email.com</span></p>
    <p>{{ "LOGIN.asPass" | translate}} <span style="color: red">pass</span></p>
  </mat-card>
