<!-- isLoading -->
<div class="center">
      <mat-progress-spinner class="example-margin"
                            *ngIf="isLoading"
                            [color]="color"
                            [mode]="mode"
                            [value]="value">
      </mat-progress-spinner>
</div>

<div class="col-lg-12 page-header">
  <h1 i18n="@@contractList">Contract List</h1>
</div>

<div class="col-md-12">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="PO">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let row"> {{ row.title }} </td>
      </ng-container>

      <!-- End Date Column -->
      <ng-container matColumnDef="endDateConverted">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
        <td mat-cell *matCellDef="let row"> {{ row.endDateConverted }}</td>
      </ng-container>

      <!-- Signed date column-->
      <ng-container matColumnDef="signedDateConverted">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Signed Date </th>
        <td mat-cell *matCellDef="let row"> {{ row.signedDateConverted }}</td>
      </ng-container>

      <!-- customer Column -->
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
        <td mat-cell *matCellDef="let row" > {{ row.customerName }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onContractShow(row.id)" class="row-hover"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  </div>

</div>
