<!-- isLoading -->
<div class="center" *ngIf="isLoading">
  <!-- isLoading -->
  <div class="loading-absolute-container" >
    <div class="table-container col-xs-12 height-12">
      <mat-progress-spinner class="example-margin"
                            [color]="color"
                            [mode]="mode"
                            [value]="value">
      </mat-progress-spinner>
    </div>
  </div>
</div>

<!--<div class="section" *ngIf="!isLoading">-->
<!--  <app-nav-bar></app-nav-bar>-->
<!--</div>-->

<mat-toolbar>
  <span>Contract Management</span>
</mat-toolbar>

<!-- page content -->
<router-outlet></router-outlet>
